@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --primary-400:#2979af;
    --primary-500:#0361a1;
    --primary-700:#024f8f;
    // --bg:#f9fafe21;
    // --bg:#c1c1c121;
    --bg:#ffffff;
}
.btn-primary {
    color: #fff;
    background-color: var(--primary-500);
    border-color: var(--primary-500);
  }  

  .bg-primary{
    background-color: var(--primary-500) !important;
  }

.body1{
    font-size: 1rem;
}

.body2{
    font-size: 0.875rem;
}
.subtitle1{
    font-size: 1rem;
}

.subtitle2{
    font-size:  0.875rem;
}
 
.caption{
    font-family: unquote("Roboto");
    font-size: 0.75rem;
}


body{
font-family: 'Roboto', sans-serif !important;
background-color: var(--bg);
}
main{
    margin-bottom: 74px;
    padding-bottom: 16px ;
}
h2{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
h3{
    margin-bottom: 0;
}
h4{
    font-weight: 500;
    font-size: 1rem;
}

.subHeading{
font-size: 14px;
font-weight: 500;
margin-bottom: 0;
}
.site-status{
    i{
        line-height: 0;
    }
}
.authHeading{
    p{
        font-weight: 300;
    }
}
.logoCenter{
    width: 50%;
}
.formLayout {
label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
color:var(--bs-gray-dark);
}
.form-control{
    &:focus{
        box-shadow: none;
        border-color:var(--primary-500)
    }
    &:hover{
        border-color: var(--bs-dark);
    }
}
}
.formLayout > div{
    margin-top: 12px;
    
}
.loginLink{
    color:var(--primary-500);
    font-weight: 500;
    text-decoration: none;

    &:hover{
        color:var(--primary-700);
    }
    
}


.forgotPassword{
    &-btn{
        border:none;
        box-shadow: none;
        outline: none;
        background: transparent;
        color:var(--primary-500);
        &:hover{
            color:var(--primary-700)
        }
    }
}

/* card designign */

.card{
    border-radius: 14px;
    border:none;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

/* Grids */
.grid-row{
    display: grid;
    gap:1rem;

}

.grid-row-col-1{
    grid-template-columns: 1fr;
}
.grid-row-col-2{
    grid-template-columns: 1fr 1fr;
}
.grid-row-col-3{
    grid-template-columns: 1fr 1fr 1fr;
  
}
.grid-row-80{
    grid-template-rows: 80px;
}
.grid-row-100{
    grid-template-rows: 100px;
}

.grid-row-200{
    grid-template-rows: 200px;
}
.graphBg{
    background: url(../img/Frame-1.svg) no-repeat #ffffff;
    background-position: bottom -16px right -12px;
    background-size: 100%;
}
.healthStatus{
    gap:8px;
    &-content{
        flex-grow: 1;
        .subHeading{
            font-size: 12px;
            font-weight: 400;
            color:var(--bs-gray);
        }
    }
    &-value{
        width: 46px;
        height: 46px;
border-radius: 50%;
border: 1px solid #444;
display: flex;
justify-content: center;
align-content: center;
font-size: 12px;
flex-direction: column;
    }

}

.num{
    color:var(--primary-500);
}


.card-body{
    padding: 0.75rem;
}
.cardBgWave{
    background: url(../img/waveElements.svg) no-repeat var(--primary-500);
    color:#fff;
    background-position: center bottom;

    .subHeading{
        color: #fff;
    }
    .healthStatus-value {
        border-color: #fff;
        color:#fff;
        .num{
            color:#fff
        }
    }
}

.siteHealthCard{

    .cardTitle{
        gap:6px;
        &-content{
            flex: 1 1 100%;

        }
        &-icon{
            flex: 1 1 10%;
            max-width: 100px;
        }
        h3{
            font-size: 1.2rem;
        }
        span{
            font-size:0.8rem ;
        }
    }
    &-content{
        padding: 0.75rem;
        background:url(../img/cardBaseNew.svg) no-repeat var(--primary-500);
        border-radius: 14px;
        color: #fff;
        text-align: center; 
        background-position: bottom -24px center;
grid-template-rows: 100px;
&-details{
    gap:4px;
    img{
        width: 30px;
    }
    h6{
        margin-bottom: 0;
        font-weight: 400;
    }
    span{
        font-size: 12px;
    }
}
    }
}

.mobileHeader{
    height: 56px;
    width: 100%;
    background: #fff;
    padding-left: 12px;
    padding-right: 12px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    gap:6px;
    a{
        text-decoration: none;
        color: var(--bs-dark);
    }
    h2{
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color:var(--bs-dark);
    }
}
.pe-8{
    padding-right: 100px !important;
}
.arm{
    padding:0.5rem 1rem;
    border-radius: 26px;
    text-align: center;
    background: #01d50c;
    color:#fff;
}

.disarm{
    padding:0.5rem 1rem;
    border-radius: 26px;
    text-align: center;
    background: #d50101;
    color:#fff;
}

.offline{
    padding:0.5rem 1rem;
    border-radius: 26px;
    text-align: center;
    background: #fb840e;
    color:#fff;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:24px;
    text-align: center;
    padding:10px 16px;
    background: var(--primary-500);
    color: #fff;
    box-shadow: 0px -1px 10px 0px #33333324;
    position: fixed;
    width: 100%;
    bottom: 0;
    .menuItems{
        display: flex;
        flex-flow: column;
        // gap: 4px;
        font-size: 14px;
        align-items: center;
        img{
            width: 24px;
        }
    }
} 
.menuItems {
    opacity: 0.6;
}
.active-state {
    opacity: 1;
}
.notificationContainer{
    display: flex;
    align-items: center;
    gap:6px;
    justify-content: space-between;
    flex-flow: row;
}
.notificationContent{
    margin-bottom: 0;
    font-size: 12px;
}


.minRowHeight{
    grid-template-rows:minmax(220px, auto) ;
}
.networdHelth{
  grid-template-rows: 238px;
}
.timeAgo {
    font-size: 12px;
    color: #a7a7a7;
}

.headerBar{
    height: 56px;
}
.searchBar{
    width: 100%;
    padding: 8px 16px 8px 40px;
    height: 40px;
    border-radius: 30px;
    box-shadow: none;
    border: none;
    background: #fafafa;
}
.searchIcon{
    position: absolute;
    left: 16px;
    top: 9px;
}